body {
  background: peru;
}
* {
  box-sizing: border-box;
  font-family: monospace;
}
.container {
  margin: 100px auto;
  background: linear-gradient(
    45deg,
    black,
    rgb(23, 22, 22),
    rgb(34, 29, 29),
    black
  );
  width: 400px;
  box-shadow: 0 0 50px rgba(14, 12, 12, 0.5);
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  position: relative;
  /* display: none; */
}
/* h1 {
  border-bottom: 2px solid rgb(169, 139, 99);
  padding-bottom: 20px;
} */
.doorie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
}
.door {
  position: relative;
  width: 150px;
  height: 300px;
  border: 5px solid rgb(91, 86, 58);
  perspective: none;
  box-shadow: -15px 0 30px 20px rgba(80, 60, 60, 0.5);
}
blockquote {
  color: rgb(206, 170, 170);
  font-size: 18px;
  align-items: center;
  width: 80%;
  margin: 30px auto;
  font-weight: bolder;
  text-shadow: 0 0 10px orangered;
}
blockquote span {
  color: rgb(137, 137, 195);
}
.docker {
  width: 140px;
  height: 290px;
  border: 5px solid rgb(21, 8, 8);
  background: repeating-linear-gradient(
    90deg,
    rgb(25, 21, 21) 0%,
    rgb(25, 21, 21) 10%,
    rgb(59, 53, 53) 10%,
    rgb(59, 53, 53) 20%
  );
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}
.lock {
  width: 10px;
  height: 15px;
  background: linear-gradient(white, brown, white);
  position: absolute;
  top: 40%;
  right: 3px;
  cursor: pointer;
}
p {
  color: white;
  position: absolute;
  top: 30%;
  right: -20px;
  text-shadow: 0 0 5px;
  animation: click 2s linear infinite;
}
@keyframes click {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes unlock {
  0% {
    perspective: 1000px;
  }
  20% {
    perspective: 100px;
  }
  90% {
    perspective: 100px;
  }
  100% {
    perspective: 1000px;
  }
}
@keyframes door {
  0% {
    transform: rotateY(0deg);
    width: 140px;
  }
  20% {
    transform: rotateY(20deg);
    width: 10px;
  }
  90% {
    transform: rotateY(20deg);
    width: 10px;
  }
  100% {
    transform: rotateY(0deg);
    width: 140px;
  }
}
form {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  padding: 10px 0;
  display: none;
}
input {
  width: 50px;
  height: 50px;
  border: none;
  margin: 3px 1px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
}
.display,
.code-gen {
  background: white;
  margin: 0 auto 3px;
  width: 80%;
  height: 30px;
  font-size: 16px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unlock {
  padding: 7px 12px;
  background: rgb(59, 53, 53);
  border: none;
  color: burlywood;
  margin: 3px 5px 0 0;
}
.delete {
  width: 35px;
  height: 30px;
  font-size: 13px;
  border: none;
  margin-top: 5px;
  color: brown;
}
button:hover,
.delete:hover {
  background: brown;
  cursor: pointer;
}
.modal {
  position: absolute;
  top: 30%;
  left: 20%;
  background: white;
  padding: 10px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  display: none;
}
.close-modal {
  position: absolute;
  top: 7px;
  right: 7px;
}
.code-gen {
  margin-top: 10px;
  border: 1px solid brown;
}

.name-bank {
  /* background: linear-gradient(
    45deg,
    black,
    rgb(23, 22, 22),
    rgb(34, 29, 29),
    black
  ); */
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin: 0 auto;
  position: relative;
}
.name,
.span {
  font-family: Impact, sans-serif;
  letter-spacing: 15px;
  color: white;
  text-shadow: 1px 1px rgb(47, 43, 43), 2px 2px rgb(47, 43, 43),
    3px 3px rgb(47, 43, 43), 4px 4px rgb(47, 43, 43), 5px 5px rgb(47, 43, 43),
    6px 6px rgb(47, 43, 43), 7px 7px rgb(47, 43, 43), 8px 8px rgb(47, 43, 43),
    9px 9px rgb(47, 43, 43), 10px 10px rgb(47, 43, 43);
  animation: name 5s linear;
}
.span {
  animation: span 5s linear infinite;
}
@keyframes name {
  0% {
    color: transparent;
    text-shadow: 0px 0px 5px yellowgreen;
  }
  50% {
    color: gray;
    text-shadow: 5px 0px yellowgreen;
  }
  100% {
    color: white;
  }
}
@keyframes span {
  50% {
    margin-top: -2px;
    color: red;
  }
}
.fan {
  width: 25px;
  height: 10px;
  position: absolute;
  margin: 5px 0;
  border-radius: 40px 0 100px 40px;
}
.top {
  background: transparent;
  top: 18%;
  right: 15%;
  animation: top 5s ease-in-out infinite;
}
.down {
  border-radius: 100px 40px 40px 0px;
  background: transparent;
  bottom: 45%;
  left: 10%;
  animation: down 5s ease-in-out infinite;
}
@keyframes down {
  0% {
    left: 20%;
    background: linear-gradient(90deg, black, gray, white);
    transform: scale(0.5);
  }
  100% {
    left: 70%;
    background: linear-gradient(90deg, black, gray, white);
    transform: scale(0.5);
  }
}
@keyframes top {
  0% {
    right: 22%;
    background: linear-gradient(90deg, white, gray, black);
    transform: scale(0.5);
  }
  100% {
    right: 75%;
    background: linear-gradient(90deg, white, gray, black);
    transform: scale(0.5);
  }
}
